<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/boilerPlate.css">
    <link rel="stylesheet" href="/stylesheets/channelPage.css">
    <title>Document</title>
</head>
<body>
    <%-include('navbar') %>
    <div class="menu-vid-parent d-flex flex-fill">
    <%-include('sideMenu') %>
        <div class="right-section padbtm">
            <% if(ChannelOwner?.channel?.channelBanner?.url?.length > 0){ %>
                <div class="bannerWrapper">
                    <img src="<%=ChannelOwner?.channel?.channelBanner?.url%>" alt="">
                </div>
            <% } %>
            <div class="channelOwnerInfoWrapper">
                <div class="infoInnerWrapper">
                    <div class="leftInfoWrapper">
                        <div class="profileWrapper">
                            <% if(ChannelOwner?.channel?.channelProfile?.url?.length > 0){ %>
                                <img src="<%=ChannelOwner?.channel?.channelProfile?.url%>" alt="">
                            <% }else{ %>
                                <h3 class="m-0 text-white"><%=ChannelOwner?.username?.charAt(0)?.toUpperCase()%></h3>
                            <% } %>
                        </div>
                        <div class="infoTextWrapper">
                            <h3 class="infoChannelName m-0 text-white"><%=ChannelOwner?.channel?.channelName%></h3>
                            <small class="infoUsername gtxt text-wrap"><span>@<%=ChannelOwner?.channel?.channelName.split(' ').join('').toLowerCase()%></span> <span><%=ChannelOwner?.channel?.channelSubscription?.length%> subscribers</span> <span><%=ChannelOwner?.channel?.video?.length%> videos</span></small>
                            <a class="aboutLink gtxt" href="/channel/<%=ChannelOwner?._id%>/about">
                                <small class="infoAboutText">
                                    <% if(ChannelOwner?.channel?.channelDiscription?.length > 0){ %>
                                        <%=ChannelOwner?.channel?.channelDiscription%>
                                    <% }else{ %>
                                        About this channel
                                    <% } %>
                                </small>
                                <i class="ri-arrow-right-s-line"></i>
                            </a>
                        </div>
                    </div>
                    <% if(JSON.stringify(ChannelOwner?._id) !== JSON.stringify(user?._id)){ %>
                        <div class="rightInfoWrapper">
                            <a class="anchorWrap text-light" href="">
                                <div class="subscribeBtn bg-white rounded-pill text-nowrap text-dark fw-semibold">
                                  <small>Subscribe</small>
                                </div>
                            </a>
                        </div>
                    <% } %>
                </div>
            </div>
            <div class="channelPageNav">
                <a href="/channel/<%=ChannelOwner._id%>/home">
                    <div id="home" class="channelNavigationBox">
                        HOME
                    </div>
                </a>
                <a href="/channel/<%=ChannelOwner._id%>/videos">
                    <div id="videos" class="channelNavigationBox">
                        VIDEOS
                    </div>
                </a>
                <a href="/channel/<%=ChannelOwner._id%>/playlists">
                    <div id="playlists" class="channelNavigationBox">
                        PLAYLISTS
                    </div>
                </a>
                <a href="/channel/<%=ChannelOwner._id%>/channels">
                    <div id="channels" class="channelNavigationBox">
                        CHANNELS
                    </div>
                </a>
                <a href="/channel/<%=ChannelOwner._id%>/about">
                    <div id="about" class="channelNavigationBox">
                        ABOUT
                    </div>
                </a>
            </div>
            <div class="content text-white">
                <% if(section === 'home'){ %>
                  <%-include('./channelpages/home') %>
                <% }else if(section === 'videos'){ %>
                  <%-include('./channelpages/videos') %>
                <% }else if(section === 'playlists'){ %>
                  <%-include('./channelpages/playlists') %>
                <% }else if(section === 'channels'){ %>
                  <%-include('./channelpages/channels') %>
                <% }else{ %>
                  <%-include('./channelpages/about') %>
                <% } %>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
        crossorigin="anonymous"></script>
    <script src="/javascripts/channelPage.js"></script>
</body>
</html>