<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/boilerPlate.css">
    <link rel="stylesheet" href="/stylesheets/library.css">
    <title>Document</title>
</head>
<body>
    <%- include('navbar') %>
    <div class="menu-vid-parent d-flex flex-fill">
      <%-include('sideMenu') %>
        <div class="right-section padbtm">
            <div class="section-wrapper text-white">
                <div class="header-section d-flex align-items-center justify-content-between">
                    <div class="d-flex align-items-center gap-3">
                        <i class="ri-history-line"></i>
                        <p class="m-0">History</p>
                    </div>
                    <a class="seeAllWrapper" href="/search?contentType=history">
                        See all 
                    </a>
                </div>
                <% if(user?.history.length > 0){ %>
                    <div class="all-videos-ctn mt-3">
                        <% user.history.forEach(function(elem){ %>
                            <div class="video-wrapper">
                                <div class="video-container">
                                    <a class="linkTo text-light" href="/watch/<%=elem._id%>">
                                        <video oncontextmenu="return false;" disablepictureinpicture muted
                                            controlsList="nofullscreen nodownload noremoteplayback noplaybackrate"
                                            data-bs-videoId="<%=elem.video_id%>" src=""></video>
                                        <img src="<%=elem.thumbnail.secure_url%>" alt="">
                                        <small style="pointer-events: none;"
                                            class="m-0 p-1 badge bg-dark"><%=elem?.duration%></small>
                                    </a>
                                </div>
                                <div class="iconTextWrapper mt-2 d-flex flex-nowrap align-items-start">
                                    <a class="linkTo text-light" href="#">
                                        <div class="profileIconCtn">
                                            <img src="/Sample_Profile/pf1.jpg" alt="">
                                        </div>
                                    </a>
                                    <div class="videoTextCtn">
                                        <a class="linkTo text-light" href="#">
                                            <p class="m-0 fw-bold text-light mb-1">
                                                <%=elem.title%>
                                            </p>
                                        </a>
                                        <div class="text-secondary">
                                            <a class="linkTo text-secondary" href="#">
                                                <small class="listDot">
                                                    <%if(elem.views.length==0){%>
                                                        No views
                                                        <% }else{%>
                                                            <%=elem.views.length%> Views
                                                                <% }%>
                                                </small>
                                                <small class="listDot last">
                                                    <%=moment(elem.createdAt).fromNow()%>
                                                </small>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="optionsMenu text-light">
                                        <i class="ri-more-2-line fw-semibold" data-bs-toggle="dropdown"
                                            aria-expanded="false"></i>
                                        <ul class="dropdown-menu">
                                            <li>
                                                <a class="dropdown-item d-flex align-items-center gap-2"
                                                    href="/addToWatchLater/<%=elem._id%>">
                                                    <i class="ri-time-line"></i>
                                                    <p class="m-0">Save to Watch Later</p>
                                                </a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item d-flex align-items-center gap-2"
                                                    data-bs-toggle="modal" data-bs-target="#playlistModal"
                                                    data-bs-whatever="<%=elem._id%>"
                                                    data-bs-createdPls="<%=user?.userPlaylist%>">
                                                    <i class="ri-play-list-add-line"></i>
                                                    <p class="m-0">Save to Playlist</p>
                                                </a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item d-flex align-items-center gap-2" href="#">
                                                    <i class="ri-share-forward-line"></i>
                                                    <p class="m-0">Share</p>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        <% }) %>
                    </div>
                <% }else{ %>
                    <p class="text-faded my-3">
                        Videos you watch will show up here.
                    </p>
                <% } %>
            </div>
            <hr class="text-white mt-4">
            <div class="section-wrapper text-white">
                <div class="header-section d-flex align-items-center justify-content-between">
                    <div class="d-flex align-items-center gap-3">
                        <i class="ri-play-list-add-fill"></i>
                        <p class="m-0">Playlists</p>
                    </div>
                    <a class="seeAllWrapper" href="/feed/playlist">
                        See all 
                    </a>
                </div>
                <!-- all video html here -->
                <% if(user?.userPlaylist.length > 0){ %>
                    <div class="playlistWrapper d-flex flex-wrap gap-2 mt-3">
                        <% user.userPlaylist.forEach(function(elem){ %>
                            <div class="singlePlaylistWrapper text-white">
                                <a class="text-white text-decoration-none" href="/play/playlist/<%=elem._id%>">
                                    <div class="playlistVideoWrapper">
                                        <img src="<%=elem.videos[elem.videos.length - 1]?.thumbnail.secure_url%>" alt="">
                                        <div class="playlistVideoCountWrapper">
                                            <span><%=elem.videos.length%></span>
                                            <i class="ri-play-list-2-line"></i>
                                        </div>
                                        <div class="playAllOverlay">
                                            <i class="ri-play-fill me-2"></i>
                                            <span>Play All</span>
                                        </div>
                                    </div>
                                    <p class="playlistName mt-2 mb-1"><%=elem.playListName%></p>
                                    
                                </a>
                                <% if(elem.isPrivate){ %>
                                    <div style="width: fit-content" class="badge bg-dark d-flex gap-2">
                                        <i class="ri-lock-2-fill"></i>
                                        Private
                                    </div>
                                <% } %>
                                <a class="text-decoration-none" href="/view/playlist/<%=elem._id%>">
                                    <small class="viewPl">View Full Playlist</small>
                                </a>
                                <%if(JSON.stringify(elem.creater) === JSON.stringify(user._id)){ %>
                                    <div class="dropdown">
                                        <!-- <i class="ri-more-2-fill" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"></i> -->
                                        <% if(elem.isPrivate){ %>
                                            <i class="ri-more-2-fill plMenu plBtmMenu" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"></i>
                                            <% }else{ %>
                                            <i class="ri-more-2-fill plMenu" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"></i>
                                        <% } %>
                                        
                                        <ul class="dropdown-menu">
                                          <li><a class="dropdown-item d-flex align-items-end gap-2" data-bs-toggle="collapse" href="#PlNameCollapse" role="button" aria-expanded="false" aria-controls="PlNameCollapse"><i class="ri-pencil-fill"></i> Modify Name</a></li>
                                          <div class="collapse" id="PlNameCollapse">
                                              <div class="card card-body">
                                                <form method="POST" action="/update/name/playlist/<%=elem._id%>">
                                                    <div class="mb-3">
                                                      <label for="exampleInputEmail1" class="form-label">New Name</label>
                                                      <input name="newname" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                                                    </div>
                                                    <button type="submit" class="btn btn-primary">Submit</button>
                                                </form>
                                              </div>
                                          </div>
                                          <li><a class="dropdown-item d-flex align-items-end gap-2" href="/remove/playlist/<%=elem._id%>"><i class="ri-delete-bin-3-fill"></i> Delete Playlist</a></li>
                                          <% if(elem.isPrivate){ %>
                                            <li><a class="dropdown-item d-flex align-items-end gap-2" href="/change/visibility/playlist/<%=elem._id%>"><i class="ri-lock-unlock-fill"></i> Change to Public</a></li>
                                            <% }else{ %>
                                                <li><a class="dropdown-item d-flex align-items-end gap-2" href="/change/visibility/playlist/<%=elem._id%>"><i class="ri-lock-2-fill"></i> Change to Private</a></li>
                                        <% } %>
                                        </ul>
                                    </div>
                                <% } %>
                            </div>
                            <% }) %>
                    </div>
                    <% }else{ %>
                        <p class="text-faded my-3">
                            Playlists you create or save will show up here.
                        </p>
                    <% } %>
            </div>
            <hr class="text-white mt-4">
            <div class="section-wrapper text-white">
                <div class="header-section d-flex align-items-center justify-content-between">
                    <div class="d-flex align-items-center gap-3">
                        <i class="ri-thumb-up-line"></i>
                        <p class="m-0">Liked Videos</p>
                    </div>
                    <a class="seeAllWrapper" href="/search?contentType=likedvideos">
                        See all 
                    </a>
                </div>
                <% if(user?.likedVideos.length > 0){ %>
                    <div class="all-videos-ctn mt-3">
                        <% user.likedVideos.forEach(function(elem){ %>
                            <div class="video-wrapper">
                                <div class="video-container">
                                    <a class="linkTo text-light" href="/watch/<%=elem._id%>">
                                        <video oncontextmenu="return false;" disablepictureinpicture muted
                                            controlsList="nofullscreen nodownload noremoteplayback noplaybackrate"
                                            data-bs-videoId="<%=elem.video_id%>" src=""></video>
                                        <img src="<%=elem.thumbnail.secure_url%>" alt="">
                                        <small style="pointer-events: none;"
                                            class="m-0 p-1 badge bg-dark"><%=elem?.duration%></small>
                                    </a>
                                </div>
                                <div class="iconTextWrapper mt-2 d-flex flex-nowrap align-items-start">
                                    <a class="linkTo text-light" href="#">
                                        <div class="profileIconCtn">
                                            <img src="/Sample_Profile/pf1.jpg" alt="">
                                        </div>
                                    </a>
                                    <div class="videoTextCtn">
                                        <a class="linkTo text-light" href="#">
                                            <p class="m-0 fw-bold text-light mb-1">
                                                <%=elem.title%>
                                            </p>
                                        </a>
                                        <div class="text-secondary">
                                            <a class="linkTo text-secondary" href="#">
                                                <small class="listDot">
                                                    <%if(elem.views.length==0){%>
                                                        No views
                                                        <% }else{%>
                                                            <%=elem.views.length%> Views
                                                                <% }%>
                                                </small>
                                                <small class="listDot last">
                                                    <%=moment(elem.createdAt).fromNow()%>
                                                </small>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="optionsMenu text-light">
                                        <i class="ri-more-2-line fw-semibold" data-bs-toggle="dropdown"
                                            aria-expanded="false"></i>
                                        <ul class="dropdown-menu">
                                            <li>
                                                <a class="dropdown-item d-flex align-items-center gap-2"
                                                    href="/addToWatchLater/<%=elem._id%>">
                                                    <i class="ri-time-line"></i>
                                                    <p class="m-0">Save to Watch Later</p>
                                                </a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item d-flex align-items-center gap-2"
                                                    data-bs-toggle="modal" data-bs-target="#playlistModal"
                                                    data-bs-whatever="<%=elem._id%>"
                                                    data-bs-createdPls="<%=user?.userPlaylist%>">
                                                    <i class="ri-play-list-add-line"></i>
                                                    <p class="m-0">Save to Playlist</p>
                                                </a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item d-flex align-items-center gap-2" href="#">
                                                    <i class="ri-share-forward-line"></i>
                                                    <p class="m-0">Share</p>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        <% }) %>
                    </div>
                <% }else{ %>
                    <p class="text-faded my-3">
                        Use the thumbs up icon to like videos. Your list shows up right here.
                    </p>
                <% } %>
            </div>
            <hr class="text-white mt-4">
            <div class="section-wrapper text-white">
                <div class="header-section d-flex align-items-center justify-content-between">
                    <div class="d-flex align-items-center gap-3">
                        <i class="ri-time-line"></i>
                        <p class="m-0">Watch Later</p>
                    </div>
                    <a class="seeAllWrapper" href="/search?contentType=watchlater">
                        See all 
                    </a>
                </div>
                <% if(user?.watchLater.length > 0){ %>
                    <div class="all-videos-ctn mt-3">
                        <% user?.watchLater.forEach(function(elem){ %>
                            <div class="video-wrapper">
                                <div class="video-container">
                                    <a class="linkTo text-light" href="/watch/<%=elem._id%>">
                                        <video oncontextmenu="return false;" disablepictureinpicture muted
                                            controlsList="nofullscreen nodownload noremoteplayback noplaybackrate"
                                            data-bs-videoId="<%=elem.video_id%>" src=""></video>
                                        <img src="<%=elem.thumbnail.secure_url%>" alt="">
                                        <small style="pointer-events: none;"
                                            class="m-0 p-1 badge bg-dark"><%=elem?.duration%></small>
                                    </a>
                                </div>
                                <div class="iconTextWrapper mt-2 d-flex flex-nowrap align-items-start">
                                    <a class="linkTo text-light" href="#">
                                        <div class="profileIconCtn">
                                            <img src="/Sample_Profile/pf1.jpg" alt="">
                                        </div>
                                    </a>
                                    <div class="videoTextCtn">
                                        <a class="linkTo text-light" href="#">
                                            <p class="m-0 fw-bold text-light mb-1">
                                                <%=elem.title%>
                                            </p>
                                        </a>
                                        <div class="text-secondary">
                                            <a class="linkTo text-secondary" href="#">
                                                <small class="listDot">
                                                    <%if(elem.views.length==0){%>
                                                        No views
                                                        <% }else{%>
                                                            <%=elem.views.length%> Views
                                                                <% }%>
                                                </small>
                                                <small class="listDot last">
                                                    <%=moment(elem.createdAt).fromNow()%>
                                                </small>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="optionsMenu text-light">
                                        <i class="ri-more-2-line fw-semibold" data-bs-toggle="dropdown"
                                            aria-expanded="false"></i>
                                        <ul class="dropdown-menu">
                                            <li>
                                                <a class="dropdown-item d-flex align-items-center gap-2"
                                                    href="/addToWatchLater/<%=elem._id%>">
                                                    <i class="ri-time-line"></i>
                                                    <p class="m-0">Save to Watch Later</p>
                                                </a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item d-flex align-items-center gap-2"
                                                    data-bs-toggle="modal" data-bs-target="#playlistModal"
                                                    data-bs-whatever="<%=elem._id%>"
                                                    data-bs-createdPls="<%=user?.userPlaylist%>">
                                                    <i class="ri-play-list-add-line"></i>
                                                    <p class="m-0">Save to Playlist</p>
                                                </a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item d-flex align-items-center gap-2" href="#">
                                                    <i class="ri-share-forward-line"></i>
                                                    <p class="m-0">Share</p>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        <% }) %>
                    </div>
                <% }else{ %>
                    <p class="text-faded my-3">
                        Videos you save to watch later will show up here.
                    </p>
                <% } %>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
        crossorigin="anonymous"></script>
</body>
</html>