<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/home2.css">
    <title>Document</title>
</head>

<body>


    <!-- Modal -->
    <div class="modal fade" id="notificationModal" tabindex="-1" aria-labelledby="notificationModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content notification-parent">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="notificationModalLabel">Notifications</h1>
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"
                        aria-label="Close"></button>
                </div>
                <div class="modal-body notification">
                    <%if(user?.notifications.length> 0){%>
                        <%user?.notifications.forEach(function(elem){%>
                            <a style="text-decoration: none; color:white" href="/watch/<%=elem.videoId?._id%>">
                                <div class="notification-grid d-flex justify-content-between px-3 mb-5">
                                    <div class="notification-channel-profile">
                                        <img class="notification-channel-profile-image"
                                            src="<%=elem.channelId?.channelProfile.url%>" />
                                    </div>
                                    <div class="notification-dets mx-4">
                                        <div class="notif-text-container">
                                            <p>
                                                <%=elem.channelId?.channelName%> uploaded: <%=elem.videoId?.title%>
                                            </p>
                                        </div>
                                        <h6 class="text-muted">
                                            <%=moment(elem.videoId?.createdAt).fromNow()%>
                                        </h6>
                                    </div>
                                    <div class="notification-video me-3">
                                        <img class="notification-channel-profile-image"
                                            src="<%=elem.videoId?.thumbnail.secure_url%>">
                                    </div>

                                </div>
                            </a>
                            <%})%>
                                <%}else{%>
                                    <div
                                        class="d-flex align-items-center justify-content-center flex-column text-center">
                                        <i class="ri-notification-fill mt-5 mb-3"></i>
                                        <h4 class="mb-3">Your notifications
                                            live here
                                        </h4>
                                        <h6>Subscribe to your favorite channels to
                                            get
                                            notified
                                            about their latest videos.
                                        </h6>

                                    </div>
                                    <%}%>
                </div>

            </div>
        </div>
    </div>
</body>

</html>