<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/boilerPlate.css">
    <link rel="stylesheet" href="/stylesheets/subscriptions.css">
    <title>Document</title>
</head>
<body>
    <%-include('navbar') %>
    <div class="menu-vid-parent d-flex flex-fill">
        <%-include('sideMenu') %>
        <div class="right-section p-3">
            <h5 class="text-white ms-2">Subscriptions</h5>
            <div class="channelsWrapper mt-4 gap-4 text-white">
                <% if(user.channelSubscribeByUser.length > 0){ %>
                    <% user.channelSubscribeByUser.forEach(function(elem){ %>
                        <div class="singleChannelWrapper">
                            <a class="text-decoration-none text-light" href="/channel/<%=elem.channelOwner._id%>/home">
                                <div class="channelBox">
                                    <div title="Go To Channel" class="profile">
                                        <img src="/Sample_Profile/pf2.jpg" alt="">
                                    </div>
                                    <div class="text-center">
                                        <small class="fw-semibold"><%=elem.channelName%></small>
                                        <br>
                                        <small class="showSubscribers"><%=elem.channelSubscription.length%> Subscribers</small>
                                    </div>
                                </div>
                            </a>
                            <% if(JSON.stringify(elem.channelOwner._id) !== JSON.stringify(user?._id)){ %>
                                <div>
                                  <a class="anchorWrap text-light ms-3" href="/subscribe/<%=elem._id%>">
                                    <%if(elem.channelSubscription.includes(user?._id)){%>
                                    <div title="Unsubscribe this channel" class="subscribedBtn text-white rounded-pill text-nowrap text-dark fw-semibold">
                                      <small>
                                          Subscribed
                                        </small>
                                      </div>
                                      <%}else{%>
                                        <div title="Subscribe this channel" class="subscribeBtn bg-white rounded-pill text-nowrap text-dark fw-semibold">
                                          <small>
                                              Subscribe
                                            </small>
                                          </div>
                                      <% }%>
                                  </a>
                                </div>
                            <% } %>
                        </div>
                    <% }) %>
                <% }else{ %>
                    <% allChannels.forEach(function(elem){ %>
                        <div class="singleChannelWrapper">
                            <a class="text-decoration-none text-light" href="/channel/<%=elem.channelOwner._id%>/home">
                                <div class="channelBox">
                                    <div title="Go To Channel" class="profile">
                                        <img src="/Sample_Profile/pf2.jpg" alt="">
                                    </div>
                                    <div class="text-center">
                                        <small class="fw-semibold"><%=elem.channelName%></small>
                                        <br>
                                        <small class="showSubscribers"><%=elem.channelSubscription.length%> Subscribers</small>
                                    </div>
                                </div>
                            </a>
                            <div>
                                <a class="text-decoration-none text-light" href="">
                                    <div class="subscribeBtn bg-white rounded-pill text-nowrap text-dark fw-semibold">
                                      <small>Subscribe</small>
                                    </div>
                                </a>    
                            </div>
                        </div>
                    <% }) %>
                <% } %>
            </div>
        </div>
    </div>
</body>
</html>


